@font-face {
    font-family: 'Cera Pro';
    src: url('../font/CeraPro-Thin.woff') format('woff2'),
         url('../font/CeraPro-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 115px;
}
    .top_news {
        justify-content: space-between;
        display: flex;
    }
    .news-left , .news-right{
        background-color: #FBFBFB;
        max-width: 586px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .news_img {
        position: relative;
        bottom: 55px;
    }
    .news_content{
        padding: 37px 30px 0 0;
        text-align: right;
    }
    h3{
        font-family: 'Cera Pro';
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 9px;
        float: right;
        max-width: 150px;
    }
    p{
        font-family: 'Cera Pro';
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 25px;
        clear: right;
    }
    a.btn {
        background-color: #46A358;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        font-family: 'Cera Pro';
        font-size: 14px;
        font-weight: 600;
        padding: 11px 28px;
        margin-left: auto;
        display: inline-block;
    }
    a.btn svg {
        vertical-align: middle;
    }
    .blog_post{
        margin-top: 138px;
        margin-bottom: 20px;
    }
    .inform {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .inform h2 {
        color: #3D3D3D;
        font-family: 'Cera Pro';
        font-size: 30px;
        font-weight: 900;
    }

    .inform p {
        color: #3D3D3D;
        font-family: 'Cera Pro';
        font-size: 14px;
        font-weight: 600;
    }

    .blog {
        display: flex;
        flex-direction: row;
        gap: 45px;
    }
    .post {
        background-color: #FBFBFB;
        max-width: 268px;
        text-align: left;
    }
    .content-post {
        padding: 9px 13px;
    }
    .content-post p.post_p {
        color: #46A358;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    .content-post h3.post_h3{
        color: #000;
        max-width: 100%;
        float: none;
        padding: 4px 0 3px 0;
        margin: 0;
        font-weight: 900;
        font-size: 20px;
    }
    .content-post p.post_p2 {
        padding: 0;
        margin-bottom: 9px;
        margin-top: 0;
    }
    .content-post a.link {
        color: #3D3D3D;
        font-family: 'Cera Pro';
        font-weight: 900;
        font-size: 14px;
        text-decoration: none;
        margin-top: 9px;
        line-height: 16px;
    }
    .content-post a.link svg {
        vertical-align: middle;
    }

    .content-post a.link:hover {
        color: #46A358;
    }
      